@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import 'variables.scss';

* {
  border: solid $lightOrange;
}

header {
}

body {
  font-family: 'Lora', serif;
}

#top-box {
  display: flex;
  justify-content: center;
  width: 100%;
  #top {
    padding: 5px;
  }
}

#reader {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 600px;

  #prompt-box {
    min-width: 300px;
    width: 50%;
    min-height: 300px;
    display: flex;
    align-items: center;
    padding: 5px;

    #prompt {
      min-width: 300px;
      display: flex;
      justify-content: center;
      font-weight: bold;
    }

    #answer {
      min-width: 300px;
    }
  }

  #text-box {
    width: 50%;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    align-items: center;
    padding: 5px;

    #text {
      display: flex;
      align-items: center;
    }
  }
}

#bottom-box {
  display: flex;
  justify-content: center;
  width: 100%;
  border: solid blue;

  #bottom {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 200px;
    #prev {
      // margin-right: 10px;
    }

    #next {
      // margin-right: 10px;
    }
  }
}
