// define color variables

$primaryBlack: #050505;
$secondaryBlack: lighten($primaryBlack, 20%);

$primaryOrange: #ffa500;
$lightOrange: lighten($primaryOrange, 40%);
$lightestOrange: lighten($primaryOrange, 49.8%);
